#include <Windows.h>
#include "Resource.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	1,0,0,0
PRODUCTVERSION 	1,0,0,0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	0L
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE     0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "LegalCopyright",   "(C) Yusuke Shinyama"
            VALUE "ProductName",      "ClipWatcher"
            VALUE "ProductVersion",   "1.0.0.0"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "FileDescription",  "ClipWatcher Application"
            VALUE "InternalName",     "clipwatcher.exe"
            VALUE "OriginalFilename", "clipwatcher.exe"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

IDI_CLIPWATCHER ICON "ClipWatcher.ico"

